*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* Animation for alert message */
@keyframes fadeFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.a {
  animation: fadeFromTop 1s ease-out;
  z-index: 9999;
}
